
.available-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.card-image {
  width: 150px;
  height: 100px;
  margin: 10px;
  position: relative;
  transition: all .5s ease;
}

.available-card-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-counter {
  display: flex;
  align-items: center;
}

.two-columns {
  display: flex;
  flex-direction: row;
}

.card-picked {
  background-color: red;
  border-radius: 50%;
}

.card-selector {
  width: 20px;
  height: 20px;
}
