
.player-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  justify-content: start;
}

.card-row { 
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 150px;
  height: 100px;
  margin: 10px;
}

.card-counter {
  display: flex;
  align-items: center;
}

