.app {
  text-align: center;
}

.message-placeholder {
  background-color: black;
  color: white;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.two-column-layout {
  display: flex;
  flex-direction: row;
}

.half-width {
  width: 50%;
}

.player-stats-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-stat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.align-left {
  text-align: left;
}

.capitalize {
  text-transform: uppercase;
}

.three-column-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.train-chip {
  width:41px;
  height:13px;
  border: gray 1px solid;
  border-radius: 5px;
  transition: all 1s ease;
}

.trains-count {
  display: flex;
  flex-direction: row;
  align-items: center;
}